# Python files
__pycache__/

# Logs and cache
*.log
*.cache/
*.pytest_cache/

# IDE Configurations
.idea/
.vscode/

# Test coverage
.coverage
htmlcov/
*.coverage
*.xml

# Docker
*.dockerfile
docker-compose.override.yml

# FastAPI/Uvicorn
*.pid

# Dependencies
*.egg-info/
pip-log.txt

# OS Specific
.DS_Store